@import "tailwindcss";

@theme {
  --color-neutral-850: #262626;
  --color-neutral-800: #2e2e2e;
  --color-neutral-300: #9a9a9a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background: black
}

.gold-gradient-1 {
  background: linear-gradient(111deg, #d4b583 14.74%, #987b4a 80.2%);
}

.body-mini-plus {
  font-family: Inter, system-ui, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1rem;
}

.body-mini {
  font-family: Inter, system-ui, sans-serif;
  font-size: .75rem;
  font-weight: 300;
  line-height: 1rem;
}

.body-small {
  /* font-family: Inter, system-ui, sans-serif;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.5rem; */
}

.body-large-plus {
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

.title-small {
  font-family: Inter, system-ui, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}